.env
.env.*
!.env.example
.git
.gitignore
node_modules
vendor
public/build
bootstrap/cache/*.php
storage/logs
storage/inertia-devtools
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
